/**
 * Basic typography style for copy text
 */
body {
  color: #f0ebd8;
  font-family: "Work Sans", Helvetica, sans-serif;
  // font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-size: $base-font-size;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem;
}

p{

}

a{
  
}

h1, h2, h3, h4, h5, h6{
  // font-family: "Source Code Pro", monospace;
  // font-family: "Montserrat", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
}

dd {
    margin-left: 25px;
}